<%= form_with(model: parking) do |form| %>
  <% if parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :license, "Enter customer's licence plate:" %><br />
    <%= form.text_field :license %>
  </div>
  <div class="actions">
    <%= form.submit "Create Parking", class: "button" %>
  </div>
<% end %>
