<div class="wrapper">
  <div class="current-time-container ">
    <div class="current-time flex-align-center w-100 ">
      <div class="img-container"><%= image_tag("clock.svg") %></div>
      <h2 class="secondary-text font-15 flex-column current-time-text">Current time
        <span id="time" class="data-fix font-15"></span></h2>
    </div>
    <div class="purchase-time flex-align-center w-100 ">
      <div class="img-container"><%= image_tag("ticket.svg") %></div>
      <h2 class="secondary-text font-15 flex-column">Ticket purchased:
        <span class="data-fix font-15"><%= (@current_parking_info.created_at - 4.hours).strftime('%b %d, %Y %I:%M %p') %></span>
      </h2>
    </div>
  </div>

  <div class="desktop-container">
    <div class="duration-container flex-align-center w-100">
      <div class="img-container"><%= image_tag("clock.svg") %></div>
      <div class="duration-data">
        <h2 class="secondary-text font-15 flex-column">Duration Of Parking:
          <% if @current_parking_info.is_void %>
            <span class="data-fix font-15">Proceed to exit</span>
          <% else %>
            <span id="demo" class="data-fix font-15"></span>
          <% end %>
        </h2>
      </div>
    </div>
    <div class="parking-spots-container flex-align-center w-100">
      <div class="img-container"><%= image_tag("parking.svg") %></div>
      <h2 class="secondary-text font-15 flex-column">Parking spots available:
        <span class="data-fix font-15"><%= @spots_available %></span></h2>
    </div>
  </div>
  <div class="desktop-container" id="final-container">
    <div class="license-plate-container flex-align-center w-100">
      <div class="img-container"><%= image_tag("license-plate.svg") %></div>
      <h2 class="secondary-text font-15 flex-column license-plate-text">License Plate No:
        <span class="data-fix font-15"><%= @current_parking_info.license %></span></h2>
    </div>
    <div class="amount-due-container flex-align-center w-100">
      <div class="img-container"><%= image_tag("banknote.svg") %></div>
      <h2 class="secondary-text font-15 flex-column amount-due-text">Amount Due:
        <% if @amount_due == 'Paid' %>
          <span class="data-fix font-15"><%= @amount_due %></span>
        <% else %>
          <span class="data-fix font-15">$<%= @amount_due %></span>
        <% end %>

      </h2>
    </div>
  </div>
</div>

<script>
    // Get the time parking ticket was created
    var parking_time = new Date("<%= ((@current_parking_info.created_at - 4.hours) ).strftime("%b %d, %Y %H:%M:%S") %>").getTime();

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    var x = setInterval(function () {

        var now = new Date().getTime();

        // Find the duration between now and the time the parking ticket was created
        var duration = now - parking_time;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(duration / (60 * 60 * 1000 * 24));
        var hours = Math.floor((duration % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = checkTime(Math.floor((duration % (1000 * 60 * 60)) / (1000 * 60)));
        var seconds = checkTime(Math.floor((duration % (1000 * 60)) / 1000));

        // Display the result in the element with id="demo"
        if (days > 0) {
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";
        } else {
            document.getElementById("demo").innerHTML = hours + "h "
                + minutes + "m " + seconds + "s ";
        }
    }, 1000);


    function startTime() {

        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var am_pm = 'am';
        if (h > 12) {
            am_pm = 'pm';
            h = h - 12;
        }
        // add a zero in front of numbers<10
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('time').innerHTML = h + ":" + m + ":" + s + ' ' + am_pm;
        t = setTimeout(function () {
            startTime()
        }, 500);
    }

    startTime();
</script>