<h2>Current time <span id="time" class="data-fix"></span></h2>
<h2>Ticket purchased at: <span class="data-fix"><%= (@current_parking_info.created_at - 4.hours).strftime('%b %d, %Y %I:%M:%S %p') %></span></h2>
<h2>Duration Of Parking: <span id="demo" class="data-fix"></span></h2>
<h2>Parking spots available: <span class="data-fix"><%= @spots_available %></span></h2>
<h2>Time Difference: <span class="data-fix"><%= @time_difference %>hrs</span></h2>
<h2>Amount Due: <span class="data-fix"><%= @amount_due %>$</span></h2>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("<%= ((@current_parking_info.created_at - 4.hours) ).strftime("%b %d, %Y %H:%M:%S") %>").getTime();

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();
        console.log(now)

        // Find the distance between now and the count down date
        var distance = now - countDownDate;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance/(60*60*1000*24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = checkTime(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
        var seconds = checkTime(Math.floor((distance % (1000 * 60)) / 1000));

        // Display the result in the element with id="demo"
        if (days > 0) {
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";
        } else {
            document.getElementById("demo").innerHTML = hours + "h "
                + minutes + "m " + seconds + "s ";
        }
    }, 1000);



    function startTime() {

        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var am_pm = 'am';
        if (h > 12) {
            am_pm = 'pm';
            h = h - 12;
        }
        // add a zero in front of numbers<10
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('time').innerHTML = h + ":" + m + ":" + s + ' '+am_pm;
        t = setTimeout(function() {
            startTime()
        }, 500);
    }
    startTime();
</script>