<tr>
  <td><%= parking.id %></td>
  <td><%= parking.license %></td>
  <td><%= link_to 'Show', parking, data: { remote: true } %></td>
  <td><%= link_to 'Edit', edit_parking_path(parking) %></td>
  <td><%= link_to 'Destroy', parking, method: :delete, data: { remote: true }, class: 'delete' %></td>
</tr>