<tr>
  <td><%= parking.id %></td>
  <td><%= parking.license %></td>
  <td><%= link_to 'Ticket Info', parking, data: { remote: true }, class: ' table-button show-button' %></td>
  <td><%= link_to 'Pay Ticket', edit_parking_path(parking), class: 'table-button pay-button' %></td>
  <td><%= link_to 'Delete Ticket', parking, method: :delete, data: { remote: true }, class: 'table-button delete-button delete' %></td>
</tr>